<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{structure/lawwspage}">
<head>
    <title>LawWS - Administration Users</title>
</head>
<body>
    <div layout:fragment="content">
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function() {
            $('#usersTable').DataTable({
                lengthChange: false,
                pageLength: 5,
                info: false,
                filter: false
            });
            $('#newUserDialog').on('hide.bs.modal', function () {
                $('#newUserDialog').removeData();
            })
            $.validator.addMethod('validateRoles',
                function(value) {
                    return $('#admRole').prop('checked') || $('#mantRole').prop('checked');
                },
                "Para el campo Rol es obligatorio seleccionar al menos uno"
            )
            
            $("#saveForm").validate({
                rules: {
                    name: "required",
                    description: "required",
                    password: "required",
                    mantRole: {
                        validateRoles: true
                    }
                },
                messages: {
                    name: "El campo Nombre es obligatorio",
                    description: "El campo Descripcion es obligatorio",
                    password: "El campo Password es obligatorio"
                }, 
                errorElement: "em",
                onfocusout: false,
                onkeyup: false,
                onclick: false
            });
        });
        
        function abrirDialogoUsuarios(id, name, description, admRole, mantRole, toBeIns) {
            $('#alterUserId').val(id);
            $('#name[name="name"]').val(name);
            $('#name[name="name"]').prop("readonly", toBeIns=='no');
            $('#description[name="description"]').val(description);
            $('#password[name="password"]').val('');
            $('#alterUserToBeInserted').val(toBeIns);
            $('#admRole').prop('checked', admRole);
            $('#mantRole').prop('checked', mantRole);
            $('em').html(function(i, v) {
                return v = "";
            });
        } 
    /*]]>*/
    </script>         
    <h2>Usuarios del Web Service</h2>
    <br>
    <p>Realice una busqueda de los usuarios en el sistema ingresando los parametros de busqueda.</p>
    <br>
    <div th:if="${searchUser.validationErrors}">
        <div class="alert alert-danger">
            <p th:text="${searchUser.validationErrorsValue}">Error</p>
        </div>
    </div>    
    <br>
    <div class="row">    
        <div class="col-sm-12">
            <form action="#" th:action="@{/administration/users}" th:object="${searchUser}" method="post">
                Nombre Usuario: <input type="text" id="searchName" th:field="*{name}" />
                Descripcion: <input type="text" id="searchDescription" th:field="*{description}" />
                <input type="submit" value="Buscar" />            
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table id="usersTable" class="table">
                <thead>
                    <tr>  
                        <th>Nombre Usuario</th>
                        <th>Descripcion</th>
                        <th>Administracion</th>
                        <th>Mantenimiento</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
              <tbody>
                    <tr th:each="userResult : ${searchUserResult}">
                        <td th:text="${userResult.name}">-</td>
                        <td th:text="${userResult.description}">-</td>
                        <td><input type="checkbox" th:checked="${userResult.admRole}" disabled="disabled"/></td>
                        <td><input type="checkbox" th:checked="${userResult.mantRole}" disabled="disabled"/></td>
                        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#newUserDialog" 
                                    th:onclick="'javascript:abrirDialogoUsuarios(\'' + ${userResult.id} + '\',\'' + ${userResult.name} + '\',\'' + ${userResult.description} + '\',' + ${userResult.admRole} + ',' + ${userResult.mantRole} + ',\'no\')'">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                        <td>
                            <div th:if="${!userResult.name.equals(username)}">
                                <form action="#" th:action="@{/administration/users/deleteuser}" th:object="${userResult}" method="post">
                                    <input id="deleteUserId" type="hidden" th:value="*{id}" name="id" />  
                                    <button type="submit" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-erase"></i>
                                    </button>
                                </form>                                
                            </div>
                        </td>
                    </tr>
              </tbody>
            </table>
        </div>
    </div>   
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUserDialog" onclick="abrirDialogoUsuarios('','','',false,false,'yes')">
      Nuevo Usuario
    </button>
    
    <div class="modal fade" id="newUserDialog" tabindex="-1" role="dialog" aria-labelledby="newUserDialogLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="newUserDialogLabel"><strong>Ingrese los Valores del Usuario</strong></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="saveForm" action="#" th:action="@{/administration/users/saveuser}" th:object="${newUser}" method="post">
          <div class="modal-body">
              <div class="form-group">
                    <label for="name">Nombre Usuario<br>
                        <input id="name" type="text" th:field="*{name}"/>
                        <em style="color:red !important" id="name-error" class="error help-block"></em>
                    </label>
                </div>
                <div class="form-group">
                    <label for="password">Password<br>
                        <input id="password" type="password" th:field="*{password}" />
                        <em style="color:red !important" id="password-error" class="error help-block"></em>
                    </label>
                </div>
                <div class="form-group">
                    <label for="description">Descripcion<br>
                        <input id="description" type="text" th:field="*{description}" />
                        <em style="color:red !important" id="description-error" class="error help-block"></em>
                    </label>
                </div>             
                <div class="form-group">
                    <label for="admRole">
                        <input id="admRole" type="checkbox" th:field="*{admRole}" /> Administracion<br>
                    </label>
                </div>                 
                <div class="form-group">
                    <label for="mantRole">
                        <input id="mantRole" type="checkbox" th:field="*{mantRole}"> Mantenimiento<br>
                        <em style="color:red !important" id="mantRole-error" class="error help-block"></em>
                    </label>
                </div>                
                <input id="alterUserId" type="hidden" th:field="*{id}" />  
                <input id="alterUserToBeInserted" type="hidden" th:field="*{toBeInserted}" />
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$("#saveForm")">Cerrar</button>
                <input type="submit" class="btn btn-primary" value="Guardar" />            
          </div>
          </form>
        </div>
      </div>
    </div>      
    
    </div>       
</body>
</html>