<div th:fragment="imports">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"></link>
    <link rel="stylesheet" th:href="@{/datatable/DataTables-1.10.16/css/jquery.dataTables.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/datatable/DataTables-1.10.16/js/jquery.dataTables.js}"></script>   
    <!--Comentar la inclusion de Respond.js si no se desea la compatibilidad con IE8 y versiones anteriores-->
    <script th:src="@{/respond/src/respond.js}"></script>   
    <script th:src="@{/jquery_validation/dist/jquery.validate.js}"></script>   
    <script th:src="@{/websocket/sockjs.min.js}"></script>   
    <script th:src="@{/websocket/stomp.min.js}"></script>   
</div>