<div th:fragment="content">
<div class="row">
    <div class="col-sm-12">        
        <form action="#" th:action="@{/maintenance/services/reorders/cantidadreordersvw}" th:object="${inputCantReordVW}" method="post">
            Proveedor: <input type="text" th:field="*{id}" />
            Fecha: <input type="date" th:field="*{fecha}" />
            <input class="btn btn-default" type="submit" value="Ejecutar"/>              
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
        <table id="cantreordvwtable" class="table">
            <thead>
                <tr>  
                    <th>Cantidad<th/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reordVW : ${cantReordVW}">
                    <td th:text="${reordVW}"><td/>
                </tr>
            </tbody>
         </table>
        </div>
    </div>
</div> 
</div>