<div th:fragment="content">
<div class="row">
    <div class="col-sm-12">        
        <form action="#" th:action="@{/maintenance/services/reorders/cantidadreordersprov}" th:object="${inputCantReordProv}" method="post">
            Proveedor: <input type="text" th:field="*{id}" />
            Fecha: <input type="date" th:field="*{fecha}" />
            <input class="btn btn-default" type="submit" value="Ejecutar"/>              
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
        <table id="consreordexpprdtable" class="table">
            <thead>
                <tr>  
                    <td>Codigo Pluma<td/>
                    <td>Pieza<td/>
                    <td>Cantidad<td/>
                    <td>Fecha Importacion<td/>
                    <td>Centro Costo<td/>
                    <td>Fecha Hora Reorder<td/>
                    <td>Anio<td/>
                    <td>Modelo<td/>
                    <td>Teileartgruppe<td/>
                    <td>teileart<td/>
                    <td>KNR<td/>
                    <td>Planta<td/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reorder : ${reorders}">
                    <td th:text="${reorder.codPluma}"><td/>
                    <td th:text="${reorder.pieza}"><td/>
                    <td th:text="${reorder.cantidad}"><td/>
                    <td th:text="${reorder.fechaImportacion}"><td/>
                    <td th:text="${reorder.centroCosto}"><td/>
                    <td th:text="${reorder.fechaHoraReorder}"><td/>
                    <td th:text="${reorder.anio}"><td/>
                    <td th:text="${reorder.modelo}"><td/>
                    <td th:text="${reorder.teileartgruppe}"><td/>
                    <td th:text="${reorder.teileart}"><td/>
                    <td th:text="${reorder.knr}"><td/>
                    <td th:text="${reorder.planta}"><td/>
                </tr>
            </tbody>
         </table>
        </div>
    </div>
</div> 
</div>

            