<div th:fragment="content">
<div class="row">
    <div class="col-sm-12">        
        <form action="#" th:action="@{/maintenance/services/reorders/consultareordersvw}" th:object="${reordersVWInput}" method="post">
            Proveedor: <input type="text" th:field="*{id}" />
            Fecha: <input type="date" th:field="*{fecha}" />
            <input class="btn btn-default" type="submit" value="Ejecutar"/>              
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
        <table id="consreordvwtable" class="table">
            <thead>
                <tr>  
                    <th>Codigo Pluma<th/>
                    <th>Pieza<th/>
                    <th>Cantidad<th/>
                    <th>Fecha Importacion<th/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reorderVW : ${reordersVW}">
                    <td th:text="${reorderVW.codPluma}"><td/>
                    <td th:text="${reorderVW.pieza}"><td/>
                    <td th:text="${reorderVW.cantidad}"><td/>
                    <td th:text="${reorderVW.fechaImp}"><td/>
                </tr>
            </tbody>
         </table>
        </div>
    </div>
</div> 
</div>