<div th:fragment="content">
<div class="row">
    <div class="col-sm-12">        
        <form action="#" th:action="@{/maintenance/services/reorders/fechasreordersprov}" th:object="${inputFechasReordProv}" method="post">
            Proveedor: <input type="text" th:field="*{id}" />
            <input class="btn btn-default" type="submit" value="Ejecutar"/>              
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
        <table id="fecreordprovtable" class="table">
            <thead>
                <tr>  
                    <th>Fecha<th/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fechaReordProv : ${fechasReordProv}">
                    <td th:text="${fechaReordProv}"><td/>
                </tr>
            </tbody>
         </table>
        </div>
    </div>
</div> 
</div>